<nav aria-label="breadcumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">New User</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible face show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div>
{{/if}}

{{#each rows}}
<form action="/edit_user/{{this.id}}" class="row g-3 needs-validation" method="post" novalidate>
  {{>user_form}}
</form>
{{/each}}